<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/viewing.css">

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/socket_io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="/javascripts/add_sighting.js"></script>
</head>
    <body onload="init_socketio()">
        <% include ./partials/header.ejs %>
        <div id="map"></div><br>
        <div>
            <div class="left">
                <h1 class="p1">User's Name: <%= sighting.poster_name %></h1><br/>
                <h1 class="p1">Sight Date: <%= sighting.sighted_at %></h1><br/>
                <span id="lat" style="display:none"><%= sighting.latitude %></span>
                <span id="lng" style="display:none"><%= sighting.longitude %>></span>
                <h1 class="p1">Identification: <%= sighting.identification %>
                    <button id="change_id_btn">Change Identification</button>
                </h1><br/>
                <div id="dialog" style="display: none;">
                    <form action="/edit_sighting/<%= sighting._id.toString() %>" method="post">
                        <select id="bird_name" name="identification">
                            <option selected>Unknown</option>
                            <option>Uncertain</option>
                        </select>
                        <button id="dialog_ok" type="submit">OK</button>
                        <button id="dialog_cancel" type="button">Cancel</button>
                    </form>
                </div>
                <p id="sighting_id" hidden><%= sighting._id %></p>
            </div>
            <div class="right">
                <img src="<%= sighting.img %>" alt="<%= sighting.identification %>" class="sighting-image">
            </div>

            <div class="description">
                <h1>Description</h1>
                <p><%= sighting.description %></p>
            </div>

            <div class="chat">
                <h1>Chat</h1>
                <div id="history">
                    <% for(var i=0; i<chat_history.length; i++) { %>
                        <p><b><%= chat_history[i].user_id.nickname; %>:</b>
                            <%= chat_history[i].msg; %></p>
                    <% } %>
                </div>
            </div>
            <div id="input" class="bottom boxed">
                <form onsubmit="return false;" style="width: 100%">
                    <p>
                        <label for="name"> Message: </label>
                        <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                        <button id="chat_send" onclick="sendChatText()">Send</button>
                    </p>
                </form>
            </div>
        </div>


    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyAtnpiUZUlLlkcq3TEPdtykPnJRTfzHjfc", v: "weekly"});</script>
    <script src='/javascripts/maps_show.js' />
        <% include ./partials/footer.ejs %>
    </body>

</html>
