<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/viewing.css">
</head>
    <body onload="init_socketio()">

    <h1 class="title"><%= title %></h1>
    <header class="homebar">
        <a href="/">Homepage</a>
        <a href="/add_sighting">Add Sighting</a>
    </header><br>


        <div >
            <div class="left">
                <h1>User's Name: <%= sighting.poster_name %></h1>
                <h1>Sight Date: <%= sighting.sighted_at %></h1>
                <h1>Identification: <%= sighting.identification %></h1>
                <p id="sighting_id" hidden><%= sighting._id %></p>
            </div>
            <div class="right">
                <img src="<%= sighting.img %>" alt="<%= sighting.identification %>" class="sighting-image">
            </div>

        <div >
            <h1>Description:</h1>
            <p class="description"><%= sighting.description %></p>
        </div>

            <div class="chat">
                <div id="history">
                    <% for(var i=0; i<chat_history.length; i++) { %>
                        <p><b><%= chat_history[i].user_id.nickname; %>:</b>
                            <%= chat_history[i].msg; %></p>
                    <% } %>
                </div>
            </div>
            <div id="input" class="bottom boxed">
                <form onsubmit="return false;" style="width: 100%">
                    <p>
                        <label for="name"> Message: </label>
                        <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                        <button id="chat_send" onclick="sendChatText()">Send</button>
                    </p>
                </form>
            </div>
        </div>
    </body>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <% include ./partials/footer.ejs %>
</html>
